<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand" href="#">USAR-IAS</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">Acerca de</a>
        </li>
        <li>
          <a href="#">Servicios</a>
        </li>
        <li>
          <a href="#">Contacto</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
<div class="container">
  <!-- Jumbotron Header -->
  <header class="jumbotron ">
    <h1>Generar Firma!</h1>
    <form method="post" action="firma.php" id="firmaForm">
      <div class="form-group col-sm-12">
        <label for="name">Nombre Completo:</label>
        <input type="text" class="form-control" id="name" name="nombre">
      </div>
      <div class="form-group col-sm-12">
        <label for="cargo">Cargo:</label>
        <select id="cargo" name="selected" class="form-control" required="required">
                      </select>
      </div>
      <div class="form-group col-sm-12">
        <label for="email">Correo Empresarial:</label>
        <input type="email" class="form-control" id="email" name="correo" required="required">
      </div>
      <div class="form-group col-sm-12">
        <div class="form-group col-sm-4">
          <label for="cellphone">Celular:</label>
          <input type="number" class="form-control" id="cellphone" name="celular">
        </div>
        <div class="col-sm-4">
          <label for="phone">Teléfono:</label>
          <input type="number" class="form-control" id="phone" name="phone" required="required" value="6051565">
        </div>
        <div class="col-sm-4">
          <label for="ext">Ext:</label>
          <input type="number" class="form-control" id="ext" name="ext">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Generar</button>
      <!--<button type="button" onlick="restart()" class="btn btn-default">Reiniciar</button>-->
    </form>
  </header>

  <hr>
  <div class="row">
    <div class="col-lg-12">
      <fieldset>
        <legend>Firma: </legend>
        <div id="copied" style="display:none;" class="pull-right">
          <label class="label label-success">Copiado!</label>
          <p>Ahora puede pegar la firma en las configuraciones de su cuenta de Gmail</p>
        </div>
        <p><a id="copyTo" class="btn btn-sm btn-primary">Copie</a> el contenido de la firma. </p>
        <hr/>
        <div id="toCopy">
          <table cellpadding="0" cellspacing="0" border="0" style="background: none; border-width: 0px; border: 0px; margin: 0; padding: 0;">
            <tr>
              <td valign="top" style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 7px; border-left: 0; border-right: solid 3px #1D3193">
                <img id="preview-image-url" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxcIbza-Om55fYi8XF_td1A8PyM_-PybEElZctgx6kY13g1jn3">
              </td>
              <td style="padding-top: 0; padding-bottom: 0; padding-left: 12px; padding-right: 0;">
                <table cellpadding="0" cellspacing="0" border="0" style="background: none; border-width: 0px; border: 0px; margin: 0; padding: 0;">
                  <tr>
                    <td colspan="2" style="padding-bottom: 5px; color: #1D3193; font-size: 18px; font-family: Arial, Helvetica, sans-serif;">NOmbre</td>
                  </tr>
                  <tr>
                    <td colspan="2" style="color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;"><strong>CARGOSEL</strong></td>
                  </tr>
                  <tr>
                    <td colspan="2" style="color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;"><strong>I.A.S. Ingeniería, Aplicaciones y Software S.A.S.</strong></td>
                  </tr>
                  <tr>
                    <td colspan="2" valign="top" style="vertical-align: top; width: 10px; color: #1D3193; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
                      Email: &nbsp;&nbsp;
                      <a href="mailto:'.$correo.'" style="color: #1712F3; text-decoration: none; font-weight: normal; font-size: 14px;">
                        correo@correo
                    </a>
                    </td>
                  </tr>
                  <tr style="display:none">
                    <td colspan="2" valign="top" style="vertical-align: top; width: 10px; color: #1D3193; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
                      Móvil: &nbsp;&nbsp;
                      <a href="#" style="vertical-align: top; color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
                        Celular
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" valign="top" style="vertical-align: top; width: 10px; color: #1D3193; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
                      Teléfono: &nbsp;&nbsp;
                      <a valign="top" style="vertical-align: top; color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;" id="phone">
                        (+574) telefono 
                      </a>
                      <a valign="top" style="vertical-align: top; color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;"
                        id="ext">
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" style="color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;"><a hreF="https://goo.gl/maps/P4QhqneiTTL2" style="color: #1712F3; text-decoration: none; font-weight: normal; font-size: 14px;">Carrera 82 C #30 A 120</a></td>
                  </tr>
                  <tr>
                    <td colspan="2" style="color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">Centro Comercial Los Molinos - Oficina 1409</td>
                  </tr>
                  <tr>
                    <td colspan="2" style="color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">Medellín - Colombia</td>
                  </tr>

                  <tr>
                    <td width="80" valign="top" style="vertical-align: top; width: 100px; color: #1D3193; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">Visítanos en:</td>
                    <td valign="top" style="vertical-align: top; color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;"><a href="http://www.ias.com.co" style=" color: #1712F3; text-decoration: none; font-weight: normal; font-size: 14px;">www.ias.com.co</a></td>
                  </tr>
                  <tr>
                    <td colspan="2" style="padding-top: 5px; color: #1D3193; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">Visítanos en: &nbsp;&nbsp;<a href="http://www.ias.com.co" style="border-width:0px; border:0px; text-decoration: none;"><img width="25" height="25" style="border: none; width: 25px; max-width: 25px !important; height: 25px; max-height: 25px !important;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxxQJNSLzQaTU5TQBIjvdQ1HPaGtz2m1a-2fXlCsuFZsO3CSYPYw"></a>&nbsp;&nbsp;
                      <a
                        href="http://www.facebook.com/ias.software" style="border-width:0px; border:0px; text-decoration: none;"><img width="25" height="25" style="border: none; width: 25px; max-width: 25px !important; height: 25px; max-height: 25px !important;"
                          src="http://cdn2.hubspot.net/hubfs/184235/dev_images/signature_app/facebook_sig.png"></a>&nbsp;&nbsp;
                        <a
                          href="https://twitter.com/iascolombia" style="border-width:0px; border:0px; text-decoration: none;"><img width="25" height="25" style="border: none; width: 25px; max-width: 25px !important; height: 25px; max-height: 25px !important;"
                            src="http://cdn2.hubspot.net/hubfs/184235/dev_images/signature_app/twitter_sig.png"></a>&nbsp;&nbsp;
                          <a
                            href="https://www.linkedin.com/company/i-a-s-ingenieria-aplicaciones-y-software" style="border-width:0px; border:0px; text-decoration: none;"><img width="25" height="25" style="border: none; width: 25px; max-width: 25px !important; height: 25px; max-height: 25px !important;"
                              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPbzIlLE_2uAUOhXPac2z72VgWrBkwc6btG3GwJOczy8hG-cgChA"></a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </fieldset>   
    </div>
  </div>
  <hr/>

    <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; IAS - 2017, <small>Developed by Marlon Olaya</small></p>
      </div>
    </div>
    <!-- /.row -->
    <!-- /.container -->
  </footer>
</div>